body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.back-card{
  background-color: #48b65a
}

.background-up {
  background-image: url(./assets/HULK-1.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.card-prod{
min-height: fit-content;
  max-height: 288px;
  object-fit:scale-down;
}

.card-carrito{
  width: 5rem;
}

.card-login {
  position: relative;
  bottom: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 6px 15px 0px #7c7c7c;
}

.logo {
  width: 50px;
}
.logo-nav {
  width: 30px;
}
.footer-clase{
  border-top: 2px solid #1c1e1d;
}
.marca-foot{
  width: 100px;
}

#cerrarSesion{
  position: absolute;
  right: 1.5rem;
}

.carrito{
  position:fixed;
  z-index: 100;
  right: 2rem;
  bottom: 2rem;
  height: 90px;
  background-color: #48b65a;
  padding: 5px;
  border-radius: 10%;
}
.carrito:hover{
  background-color: #82ee94;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}

.redes:hover{
  background-color:rgb(137, 216, 137);
}

.text-nodisponible {
  color: red;
}
